{% extends "layout.html" %}
{% block content %}
<form action="/new" method="POST">
  <div class="row">
        <div class="col">
            <label for="fldHeightInches">Height (Inches)</label>
            <input id="fldHeightInches" type="text" class="form-control" placeholder="Height"
                   name="fldHeightInches" >
        </div>
        <div class="col">
            <label for="fldWeightPounds">Weight (Pounds)</label>
            <input id="fldWeightPounds" type="text" class="form-control" placeholder="Weight"
                   name="fldWeightPounds" >
        </div>
    </div>

    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}

