{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ hw.id }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ hw.fldHeightInches }}</li>
        <li class="list-group-item">{{ hw.fldWeightPounds }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{hw.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{hw.id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}

